<li>
  <div class="user-profile">
    <% if @user.photo.present? %>
      <%= image_tag @user.photo, alt: "Profile Picture", width: "100", height: "100" %>
    <% else %>
      <p>No Profile Picture</p>
    <% end %>
  </div>

  <div class="user-info">
    <h3><%= @user.name %></h3>
    <p>Number of posts: <%= @user.posts.count %></p>
  </div>
</li>

<div class="bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<ul>
  <% if @user.posts.present? %>
  <% @user.posts.each_with_index do |post, index| %>
    <li>
      <div class="post">
        <%= link_to post_path(user_id: @user.id, id: post.id) do %>
          <h4>Post #<%= index + 1 %></h4>
        <% end %>
        <p><%= post.text %></p>
        <p>Likes: <%= post.likes_counter %></p>
        <p>Comments: <%= post.comments_counter %></p>
      </div>
    </li>
  <% end %>
<% else %>
  <li>
    <div class="post">
      <p>No posts available</p>
    </div>
  </li>
<% end %>

<%= link_to "See All Posts", user_posts_path(user_id: @user.id) %>
