<li>
  <div class="user-profile">
    <% if @user.photo.present? %>
      <%= image_tag @user.photo, alt: "Profile Picture", width: "120", height: "130" %>
    <% else %>
      <p>No Profile Picture</p>
    <% end %>
  </div>

  <div class="user-info">
    <h3><%= @user.name %></h3>
    <p>Number of posts: <%= @user.posts.count %></p>
  </div>
</li>

<div class="bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<ul>
  <% if @user.posts.present? %>
    <% @user.posts.limit(3).each_with_index do |post, index| %>
      <li>
        <div class="post">
          <%= link_to user_post_path(user_id: @user.id, id: post.id) do %>
            <h4><%= post.title %></h4>

          <% end %>
          <p><%= post.text %></p>
          <p>Likes: <%= post.likes_counter %></p>
          <p>Comments: <%= post.comments_counter %></p>
        </div>
      </li>
    <% end %>
  <% else %>
    <li>
      <div class="post">
        <p>No posts available</p>
      </div>
    </li>
  <% end %>
</ul>

<div class="buttons">
<%= link_to "See All Posts", user_posts_path(user_id: @user.id), class: "home-link" %>
<%= link_to "Back to Users", users_path, class: "home-link" %>
</div>