<head>
  <link rel="stylesheet" href="<%= asset_path('application.css') %>">
</head>

<div class="user">
  <div class="user-profile">
    <% if @user.photo.present? %>
      <%= image_tag @user.photo, alt: "Profile Picture", width: "100", height: "100" %>
    <% else %>
      <p>No Profile Picture</p>
    <% end %>
  </div>

  <div class="user-info">
    <h3><%= @user.name %></h3>
    <p>Number of posts: <%= @user.posts.count %></p>
  </div>
</div>

<ul>
  <% if @user.posts.present? %>
    <% @user.posts.order(created_at: :desc).paginate(page: params[:page], per_page: (params[:per_page] || 2).to_i).each_with_index do |post, index| %>
      <li class="list">
        <div class="post">
          <%= link_to user_post_path(user_id: @user.id, id: post.id) do %>
            <h4>Post #<%= @user.posts.count - ((params[:page].to_i - 1) * (params[:per_page] || 2).to_i) - index %></h4>
          <% end %>
          <p><%= post.text %></p>
          <p>Likes: <%= post.likes_counter %></p>
          <p>Comments: <%= post.comments_counter %></p>
        </div>

        <div>
          <ul>
            <% post.comments.limit(5).each do |comment| %>
              <li><%= comment.author.name %> : <%= comment.text %></li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  <% else %>
    <li>
      <div class="post">
        <p>No posts available</p>
      </div>
    </li>
  <% end %>
</ul>

<div class="pandh">
  <%= link_to "Back to Users", users_path, class: "home-link" %>
  <%= link_to "Paginate", user_posts_path(user_id: @user.id, page: params[:page], per_page: @all_posts.size), class: "home-link" %>
  <%= link_to "Back to Posts", user_posts_path(user_id: @user.id), class: "home-link" %>
</div>
